<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>美图欣赏</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/weui.min.css">
    <link rel="stylesheet" href="/static/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <div class="toolbar" id="toolbar">
        <div class="fl">
            <span class="mode toggle" id="getRandom">随机</span>
            <span class="mode toggle" id="getTops">排行榜</span>
            <span class="mode toggle" id="getPics">正常</span>
        </div>

        <span class="toggleList" id="toggleList">单列</span>
    </div>
    <div class="container clearfix" id="container">
        <!-- 图片 -->
    </div>
    <div class="weui-loadmore">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在加载</span>
    </div>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-weui.min.js"></script>
<script src="/static/js/swiper.min.js"></script>
<script src="/static/js/index.js"></script>

</html>