.container {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    font-size: 0.14rem;
    visibility: hidden;
    /* visibility: visible; */
}

.pageId {
    display: none;
}

.item img {
    /* width: 1.845rem; */
    /* width: 3.73rem; */
    display: block;
    border-radius: 0.05rem;
}

.item {
    position: absolute;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    z-index: 999;
    background-color: #fff;
    height: 0.45rem;
    font-size: 0.14rem;
    line-height: 0.45rem;
    text-align: right;
}

.toggleList {
    padding: 0.07rem 0.15rem;
    border-radius: 10px;
    margin-right: 0.1rem;
    border: 1px solid #0960BD;
    color: #0960BD;
    background-color: #fff;
}

.toggleList:active {
    color: #fff;
    background-color: #0960BD;
}

.mode {
    padding: 0.07rem 0.15rem;
    border-radius: 10px;
    margin-right: 0.1rem;
}

.toggle {
    border: 1px solid #FA4659;
    color: #FA4659;
    background-color: #fff;
}

.toggle:active {
    background-color: #FA4659;
    color: #fff;
}

.toggle_now {
    background-color: #FA4659;
    border: 1px solid #FA4659;
    color: #fff;
}

.toggle_now:active {
    background-color: #fff;
    color: #FA4659;
}

.noMore {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}